/* counter container */
.counter_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.edit_counter_container {
    display: flex;
    flex-direction: column;
    border-left: 3px solid var(--ol);
    margin: 1.5rem 0;
    justify-content: center;
}
/* end counter container */

/* add/del counter button */
.add_del_counter_button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 2rem;
    width: 2rem;
    background-color: var(--elm);
    border: 3px solid var(--ol);
    margin-left: .5rem;
}

.add_counter {
    border-radius: .4rem .4rem 0 0;
    border-bottom: 0;
}

.delete_counter {
    border-radius: 0 0 .4rem .4rem;
}

.counter_sign {
    fill: var(--text);
    width: 1.25rem;
}
.counter_sign_text {
    margin-bottom: -.2rem;
}

.deleting {
    fill: var(--del);
}
/* end add/del counter button */

/* counter list */
.counter_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5rem;

    width: inherit;
    transition: height .3s;
}
/* end counter list */

/* counter name input */
.counter_name_input {
    width: 15rem;
    height: 2rem;
    margin: 0 auto 0.5rem;

    background-color: var(--elm);
    border: 3px solid var(--ol);
    border-radius: 0.5rem;

    font-size: var(--tmed);
    padding: 0 0.5rem;
    color: var(--text);
}
/* end counter name imput */

/* counter num input */
.counter_num_text {
    color: var(--text);
    font-size: var(--tmed);
    margin: auto 0.5rem auto 0;
}
.counter_num_input {
    width: 1.4rem;
    height: 2rem;
    margin: auto 0;
    background-color: var(--elm);
    border: 3px solid var(--ol);
    border-right: 0;
    border-radius: 0.5rem 0 0 0.5rem;
    font-size: var(--tmed);
    padding: 0 0.5rem;
    color: var(--text);
    text-align: center;
}
/* end counter num imput */

/* counter styles */
.counter {
    width: 8rem;
    height: 5.5rem;
    justify-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--elm);
    border: 3px solid var(--ol);
    border-radius: 0.7rem;
    margin: 1rem;
    padding: 0.5rem;
    padding-top: 0;
}

.counter_delete_button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 9rem;
    height: 6rem;
    background-color: #0004;

    position: absolute;
    margin-top: 0.5rem;
    margin-left: -0.5rem;
    border-radius: 0.5rem;
}

.delete_x {
    fill: var(--del);
    width: 3rem;
}

.counter_arrow {
    width: 2rem;
    height: fit-content;
    fill: var(--text);
    margin: auto;
}

.counter_input {
    height: 2rem;
    background-color: var(--elm);
    border: none;
    border-bottom: 3px solid var(--ol);
    font-size: var(--tlrg);
    color: var(--text);
    padding: 0.2rem 0.4rem 0;
    width: 1.6rem;
    font-family: unset;
    text-align: center;
    margin: .5rem 0;
}

.counter_text {
    font-size: var(--tlrg);
    color: var(--text);
    margin: auto;
}

.counter_name {
    background-color: var(--elm);
    border: none;
    border-bottom: 3px solid var(--ol);

    color: var(--text);
    font-size: var(--tmed);
    font-family: unset;
    margin: auto;
    max-width: 8rem;
    max-height: 3rem;

    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* end counter styles */

/* counter select */
.counter_select {
    width: 16.5rem;
    margin: 0 auto 0.5rem;
    height: 2.5rem;
    background-color: var(--elm);
    border: 3px solid var(--ol);
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    font-size: var(--tmed);
    color: var(--text);
}
/* end counter select */

/* small screen styles */
@media (min-height: 1280px) {
    .counter {
        width: 11rem;
        height: 8rem;
    }

    .counter_arrow {
        width: 3rem;
    }

    .counter_input {
        font-size: 2.5rem;
        width: 2.4rem;
        padding-top: .5rem;
    }

    .counter_text {
        font-size: 2.5rem;
    }

    .add_del_counter_button {
        width: 3rem;
        height: 3rem;
    }
    .add_counter {
        border-radius: .6rem .6rem 0 0;
    }
    .delete_counter {
        border-radius: 0 0 .6rem .6rem;
    }

    .counter_sign {
        width: 1.5rem;
    }
    .counter_sign_text {
        margin-bottom: 0;
    }
}