/* level header */
div.level_header {
    background-color: var(--elm);
    height: calc(var(--sph) + 1.5rem);
    border: 3px solid var(--ol);
    border-radius: .6rem;
    display: flex;
    justify-content: center;
}

p.level_header {
    font-size: var(--tlrg);
    color: var(--text);
    margin-top: auto;
    margin-bottom: auto;
}

/* spell slot */
.spell_slot {
    height: 1.5rem;
    width: 1.5rem;
    border: 3px solid var(--ol);
    border-radius: 1rem;
    margin: auto .3rem;
}

.toggled {
    background-color: var(--tog);
}
/* end spell slot */
/* end level header */

/* spellbook spell head */
.book_name {
    width: 25%;
    padding-left: 1%;
}

.concentration {
    width: 22%;
    padding-left: 1%;
    text-align: center;
}

.ritual {
    width: 15%;
    text-align: center;
}

.cast_time {
    width: 17%;
    text-align: center;
}
/* end spellbook spell head */

/* book spell */
.book_spell_container {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    align-items: center;
}

.book_spell {
    width: 100%;
    margin: 0;
}
/* end book spell */

/* spell prep circle */
.prepare {
    width: 1rem;
    height: 1rem;
    border: 3px solid var(--text);
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.prepared {
    background-color: #B8B8B8;
}

svg.prepare {
    border: 0px;
    width: calc(1.5rem + 6.33px);
    height: 100%;
    margin-right: 0.25rem;
    margin-left: -0.25rem;
}

.prepare_star {
    stroke: var(--text);
    fill: #B8B8B8;
}
/* end spell prep circle */