/* level header */
div.level_header {
    background-color: var(--elm);
    height: calc(var(--sph) + 1.5rem);
    border: 3px solid var(--ol);
    border-radius: .6rem;
    display: flex;
    justify-content: center;
}

p.level_header {
    font-size: var(--tlrg);
    color: var(--text);
    margin-top: auto;
    margin-bottom: auto;
}

/* spell slot */
.spell_slot {
    height: 1.5rem;
    width: 1.5rem;
    border: 3px solid var(--ol);
    border-radius: 1rem;
    margin: auto .3rem;
}

.toggled {
    background-color: var(--tog);
}
/* end spell slot */
/* end level header */

/* spellbook spell head */
.book_name {
    width: calc(100% - 35rem - 37%);
    padding-left: .5rem;
}

.concentration {
    width: 12rem;
    text-align: center;
}

.ritual {
    width: 7rem;
    text-align: center;
    margin-left: 12%;
}

.cast_time {
    width: 9rem;
    text-align: center;
    margin-left: 12%;
}

div.short_add {
    width: 5rem;
    margin-left: 12%;
}
/* end spellbook spell head */

/* book spell */
.book_spell_container {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    align-items: center;
}

.book_spell {
    width: 100%;
    margin: 0;
}
/* end book spell */

/* spell prep circle */
.prepare {
    width: 1rem;
    height: 1rem;
    border: 3px solid var(--text);
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.prepared {
    background-color: #B8B8B8;
}

svg.prepare {
    border: 0px;
    width: calc(1.5rem + 6.33px);
    height: 100%;
    margin-right: 0.25rem;
    margin-left: -0.25rem;
}

.prepare_star {
    stroke: var(--text);
    fill: #B8B8B8;
}
/* end spell prep circle */

/* small screen styles */
@media (min-height: 1280px) {
    .book_name {
        width: calc(100% - 36rem - 6%);
    }

    .concentration {
        width: 17rem;
        margin-left: 2%
    }

    .ritual {
        width: 10rem;
        margin-left: 2%
    }

    .cast_time {
        display: none;
    }

    div.short_add {
        width: 8rem;
        margin-left: 2%;
    }

    .prepare {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
    }
}