/* filter button styles */
.filter_button {
    /* basic style */
    display: flex;

    background-color: var(--elm);
    border: var(--ol) solid 3px;
    border-radius: .6rem;

    width: 20rem;
    height: 2.5rem;
    margin: .5rem 1rem;
    padding: 0 .3rem;

    /* text adjustment */
    justify-content: center;
}

.clear_filters_button {
    margin: 1rem;
}

.filter_title {
    color: var(--text);
    font-size: var(--tlrg);
    margin: 7px 0px 0px;
}

/* end filter button styles */


/* search bar */
.search_bar {
    /* basic style */
    background-color: var(--elm);
    border: var(--ol) solid 3px;
    border-radius: .6rem;

    height: 2.25rem;
    width: 20rem;

    outline: none;

    /* text style */
    color: var(--text);
    font-size: 1.25rem;

    margin: .5rem 1rem;
    text-indent: 5px;
    padding: 2px .3rem;
}
/* end search bar */


/* separated screen */
.screen_back {
    background-color: #00000070;

    width: 100%;
    height: 100%;

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.open_screen {
    background-color: var(--bg);
    border: var(--ol) solid 3px;
    border-radius: 2rem;

    width: 80%;
    height: 40rem;
}
/* end separate screen */

/* filter containers */
.half_box {
    width: 50%;
    padding: 1rem;
    overflow: scroll;
}

.filter_section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));

    margin: 0.5rem 0 0.5rem 1rem;
    overflow: hidden;
    transition: height .3s;
}

.filter_item {
    height: fit-content;
    padding: .125rem .75rem;
    border-left: var(--ol) 3px solid;
}
/* end filter containers */

/* filter selection */
div.filter_selection {
    border: var(--ol) 3px solid;

    width: 1rem;
    min-width: 1rem;
    height: 1rem;
}

p.filter_selection {
    margin: 0rem;
    margin-left: 1rem;

    color: var(--text);
    font-size: var(--tmed);
}

div.filter_selected {
    background-color: var(--tog);
}

p.filter_selected {
    font-weight: 700;
}

.no_spells {
    width: fit-content;
    max-width: 60%;
    margin: 2rem auto;

    color: var(--text);
    font-size: var(--tlrg);
    line-height: calc(var(--tlrg) + 1rem);
    text-align: center;
}
/* end filter selection */

/* filter up/down arrows */
.filter_arrow {
    width: 1.5rem;
    margin: auto;
    margin-right: unset;
}
/* end filter up/down arrows */

/* small screen styles */
@media (min-height: 1280px) {
    /* filter button */
    .filter_button {
        border-width: 5px;
        border-radius: .9rem;
        height: 4rem;
        width: 45rem;

        margin: .5rem 2rem;
    }

    .filter_button_text {
        font-size: 2.75rem;
    }

    .clear_filters_button {
        margin: 1.5rem 2rem;
    }
    /* end filter button */

    /* search bar */
    .search_bar {
        border-width: 5px;
        border-radius: .9rem;
        height: 4rem;
        width: 45rem;

        font-size: 2.5rem;

        margin: 1rem 2rem;
    }
    /* end search bar */

    /* filter screen */
    .open_screen {
        height: 60rem;
    }

    .filter_section {
        grid-template-columns: unset;
    }

    div.filter_selection {
        margin: auto 0;
    }

    .filter_arrow {
        width: 2.5rem;
        margin: 0 0 0 auto;
    }
    /* end filter screen */

    .no_spells {
    }
}