/* spell */
.spell {
    height: var(--sph);
    background-color: var(--elm);
    border: var(--ol) 3px solid;
    border-radius: 0.6rem;
    padding: .5rem;
    margin: .5rem;
    overflow: hidden;
    transition: height .3s;
}

.spell_closed {
    height: var(--sph);
}

.spell_head {
    display: flex;
    height: var(--sph);
}

.spell_title {
    color: var(--text);
    font-size: var(--tlrg);
    margin: 0px;
    height: fit-content;
    margin-top: -0.109375rem;
}

/* spell divisions */
.name {
    width: 20%;
    margin-left: 1%;
}
.open_name {
    width: 64.5%;
    margin-left: 1%;
}

.level {
    width: 4%;
    margin-left: 1%;
}

.classes {
    width: 54.5%;
}

div.quick {
    width: 15%;
}
div.full {
    width: 30%;
}
div.add {
    text-align: center;
    height: 2.5rem;
    margin-top: -.5rem;
    position: relative;
    z-index: 1;
}
p.add {
    white-space: nowrap;
    overflow: hidden;
    margin-top: .45rem;
    border-bottom: 3px solid var(--ol);
}
p.quick_add {
    white-space: nowrap;
    overflow: hidden;
    margin-top: .45rem;
}

.arrow {
    position: relative;
    left: 1%;
    margin-right: 1.5%;
    text-align: right;
    transition: transform .2s;
}
.arrow.open {
    transform: deg(-90);
}
/* end spell divisions */

/* spell body */
.spell_text {
    font-size: var(--tmed);
    color: var(--text);
    margin: 1rem 2rem;
    line-height: 1.6rem;
}

/* spacing between title and body */
.spell_top_spacer {}
.spell_bottom_spacer {}

table_header {
    position: relative;
    top: 1rem;
    font-weight: bold;
}

.spell_table {
    margin-left: 4rem;
    border-collapse: collapse;
}

/* every other table row */
tr:nth-child(odd) {
    background-color: #3C3C3C;
}

/* table top row/others */
th, td {
    color: var(--text);
    font-size: var(--tmid);
    padding: .25rem .5rem;
    min-width: 2.25rem;
}

/* top table row */
th {
    font-weight: bold;
    text-align: left;
}
/* end spell body */

/* toggle spell button */
.toggle_button_top {
    position: relative;
    height: calc(var(--sph) + 1rem);
    margin: -0.5rem;
    margin-top: -2rem;
}

.toggle_button_bottom {
    position: relative;
    height: 2.5rem;
    margin: -2rem -0.5rem -.5rem;
}
/* end toggle spell button */

/* end spell */

/* small screen styles */
@media (min-height: 1280px) {
    /* spell styles */
    .spell {
        height: calc(.5rem + var(--sph));
        border-width: 5px;
        padding: .75rem 1rem;
        border-radius 1rem;
    }

    .spell_text {
        line-height: 3rem;
        margin: .5rem 2rem 0rem;
    }

    /* spell buttons */
    .toggle_button_top, .toggle_button_bottom {
        height: calc(var(--sph) + 2rem);
        margin-top: -2.75rem;
    }
    .toggle_button_bottom {
        margin-top: -3.5rem;
    }
    /* end spell buttons */

    /* spell header */
    .name {
        width: 25%;
    }
    .open_name {
        width: 50%;
    }

    .level {
        margin: 0 2%;
    }

    .classes {
        width: 41%;
    }

    div.quick {
        width: 24%;
        margin-left: 1%;
    }
    div.full {
        width: 45%;
    }

    .arrow {
        left: 0%;
    }
    .spell_arrow {
        display: none;
    }
    /* spell header */

    /* spell spacers */
    .spell_top_spacer {
        margin-top: 1rem;
    }
    .spell_bottom_spacer {
        height: 1rem;
    }
    /* spell spacers */
    /* end spell styles */
}