/* main constant variables */
:root {
    --bg: #212121; /* background color */
    --elm: #323232; /* element color */
    --ol: #505050; /* outline color */
    --tog: #767676;
    --text: #DEDEDE; /* text color */
    --tlrg: 24px;
    --tmed: 20px;
    --tsml: 16px;
}
/* end main constant variables */

/* background */
body {
    background-color: var(--bg);
    margin: 8px;
}
/* end background */


/* title header */
div.title {
    margin: 2rem;
    width: fit-content;
}

p.title {
    color: var(--text);
    font-size: 36px;
    font-weight: 800;
    margin: 0;
}
/* end title header */

/* generic containers */
.row_container {
    display: flex;
    flex-direction: row;
}

.fit_row_container {
    display: flex;
    flex-direction: row;
    width: fit-content;
}
/* generic containers */

/* universal styles */
.button {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.hidden {
    display: none;
}
/* end universal styles */

/* small screen styles */
@media (max-width: 600px) { /* TEMP */
    body {
        background-color: white;
    }
}