/* main constant variables */
:root {
    --bg: #212121; /* background color */
    --elm: #323232; /* element color */
    --ol: #505050; /* outline color */
    --tog: #767676; /* toggled color */
    --sph: 1.5rem; /* element height */
    --text: #DEDEDE; /* text color */
    --del: #B0170C; /* delete color */
    /* text sizes */
    --tlrg: 1.5rem;
    --tmed: 1.25rem;
    --tsml: 1rem;
}
/* end main constant variables */

/* background */
body {
    background-color: var(--bg);
    margin: 8px;
}
/* end background */


/* title header */
div.title {
    margin: 2rem;
    width: fit-content;
}

p.title {
    color: var(--text);
    font-size: 2.25rem;
    font-weight: 800;
    margin: 0;
}
/* end title header */

/* bottom spacing */
.bottom_spacer {
    height: 4.85rem;
}
/* end bottom spacing */

/* generic containers */
.row_container {
    display: flex;
    flex-direction: row;
}

.fit_row_container {
    display: flex;
    flex-direction: row;
    width: fit-content;
}
/* generic containers */

/* loading styles */
.loading_svg {
    height: 5rem;
    margin-left: calc((100% - 5rem) / 2);
    animation: loading_spin 0.6s steps(12, end) infinite;
}

@keyframes loading_spin {
    to {
        transform: rotate(360deg);
    }
}
/* end loading styles */

/* universal styles */
.button {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.draggable {
    cursor: grab;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.space_evenly {
    display: flex;
    justify-content: space-evenly;
}

.hidden {
    display: none;
}
/* end universal styles */

/* small screen styles */
@media (min-height: 1280px) {
    /* main constant variables */
    :root {
        --tlrg: 2.25rem;
        --tmed: 2rem;
        --sph: 1.75rem;
    }
    /* end main constant variables */

    /* title header */
    div.title {
        margin: 4rem;
    }

    p.title {
        font-size: 4rem;
    }
    /* end title header */

    /* bottom spacing */
    .bottom_spacer {
        height: 10.85rem;
    }
    /* end bottom spacing */
}