body {
    min-width: unset;
    touch-action: manipulation;
}

.title {
    font-size: 400%;
}

.menu_button {
    width: 106px;
    height: 106px;
    border-radius: 24px;
    border-width: 6px;
}

.discord_logo {
    width: 80px;
}

.discord:hover {
    opacity: .5;
}

.sttarrow {
    width: unset;
    height: 40px;
}

.stt:hover {
    opacity: .5;
}

.srchTxt {
    font-size: 300%;
}

.searchBar {
    width: 65%;
    font-size: 42px;
    height: 56px;
}

.smallBtn {
    width: 65%;
    height: 56px;
    position: relative;
    z-index: 1;
}

.smallTxt {
    margin: 0px;
    font-size: 250%;
    height: fit-content;
    margin: auto;
}

.clrESO {
    width: 65%;
    height: 56px;
}

.ef_body {
    top: -4px;
    position: relative;
    z-index: 0;
}

.searchOpTxt {
    font-size: 250%;
}

.searchColumnL, .searchColumnTR {
    width: 48%;
}

.searchColumnL {
    border-right: 0px;
}

.filter_arrow {
    width: unset;
    height: 32px;
    position: relative;
    top: 7px;
}

.classItem {
    height: unset;
}

.ciTxt {
    font-size: 175%;
}

.sortSelected {
    border-radius: 28px;
}

.name {
    width: 33.3%;
}

.level {
    width: 33.3%;
}

.classes {
    width: 33.3%;
}

.levelHeadTxt {
    margin: auto;
    font-size: 225%;
}

.sortContainer {
    height: 64px;
    border-radius: 15px;
    width: 99.5%;
}

.pagem1 {
    display: flex;
    margin-left: auto;
    width: 11.5%;
    height: 74px;
}

.pagep1 {
    display: flex;
    margin-right: auto;
    width: 11.5%;
    height: 74px;
}

.pageBtn {
    position: relative;
    top: -5px;
    width: 48px;
    height: 56px;
    margin: auto;
}

.pageTxt {
    font-size: 250%;
}

.spell_head_container {
    display: flex;
    height: 66px;
    width: 99.5%;
    background-color: rgb(50,50,50);
    border: rgb(80,80,80) solid 3px;
    border-radius: 15px;
    overflow: hidden;
}

.spell_head_text {
    color: rgb(222,222,222);
    font-size: 200%;
    margin: 15px;
}

.head_name {
    width: 35%;
}
.vis {
    overflow: visible;
}

.head_level {
    width: 5%;
}

.head_class {
    width: 60%;
}

.spell_body {
    position: relative;
    top: -4px;
    z-index: 2;
    transition: height .3s;
    width: 85%;
    background-color: rgb(50,50,50);
    border: rgb(80,80,80) solid;
    border-width: 0px 3px 0px 3px;
    margin-left: 5.5%;
    overflow: hidden;
}

.spellToBook {
    width: 4.5%;
    margin: 20px auto 30px;
}

.textToBook {
    font-size: 3vw;
}

.add_book_hidden {
    left: -9%;
}

.spell_bottom {
    position: relative;
    top: -4px;
    height: 62px;
    margin-top: -68px;
    width: 99.5%;
    background-color: rgb(50,50,50);
    border: rgb(80,80,80) solid 3px;
    border-radius: 15px;
    transition: margin-top .3s, z-index .3s;
    z-index: -1;
}

.spell_bottom_exp {
    margin-top: -4px;
    z-index: 1;
}

.spellDispDescExp {
    font-size: 200%;
    line-height: 36px;
}

.menuPage {
    position: absolute;
    left: 5%;
    top: 15%;
}

.player_info_container {
    height: 20%;
    border-bottom: rgb(80,80,80) solid 3px;
}

.class_container {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.char_text {
    font-size: 225%;
    width: fit-content;
}

.class_list {
    width: 25%;
    height: fit-content;
    font-size: 175%;
    padding: 5px 10px;
    margin: 12.5px 54px 0px 15px;
}

.level_input {
    height: 90px;
    width: 90px;
    font-size: 64px;
    border-radius: 15px;
}

.slot_box {
    z-index: unset;
    margin: 0px auto 0px 20px;
}

.clr_text {
    text-decoration: underline;
    font-size: 175%;
    margin: auto 20px auto auto;
    color: rgb(222, 222, 222);
}

.slots_list_container {
    width: 75%;
}

.slot_container {
    width: fit-content;
    height: fit-content;
    border: rgb(80,80,80) solid 3px;
    border-radius: 12.5px;
    margin: 20px 7px;
}

.slot_top, .slot_bot {
    display: flex;
    width: fit-content;
    height: 60px;
    justify-content: center;
}
.slot_top {
    border-bottom: rgb(80,80,80) solid 3px;
}

.slot_text {
    font-size: 200%;
    margin: auto 7.5px;
}

.book_container {
    width: unset;
    height: 80%;
}

.book_head_text {
    font-size: 200%;
}

.level_arrow {
    margin: 7.5px;
}

.char_container {
    position: absolute;
    top: 100%;
    left: 2.5%;
    width: 95%;
    z-index: 0;
}

.book_char_tab {
    position: relative;
    display: flex;
    border: rgb(80,80,80) 3px solid;
    background-color: rgb(50,50,50);
    width: 25%;
    height: 57px;
    border-radius: 0px 0px 20px 20px;
}

.book_char_text {
    color: white;
    font-size: 200%;
    margin: auto;
    width: fit-content;
}

.book_char_exp {
    top: -1px;
    height: 76px;
    border-top: 0px;
}

.prep_spell {
    width: 24px;
    height: 24px;
    border-radius: 16px;
}

.book_spell {
    width: 90%;
}

.book_spell_text {
    font-size: 200%;
}

.book_bottom_margin {
    margin-top: -61px;
}

.book_spellDispDescExp {
    font-size: 200%;
    line-height: 37.5px;
}

.book_body {
    margin-left: 3.6%;
}

.spellToBook_book {
    width: 5.5%;
}

.book_bottom_name {
    width: 3.6%;
}
.book_bottom_mid {
    width: 84.9%;
}
.book_close {
    width: 11.5%;
}

.book_bottom_exp {
    margin-top: -35px;
}


.column_container {
    display: flex;
    flex-direction: column;
}