/* character header */
.header {
    background-color: var(--elm);
    border: 3px solid var(--ol);
    border-top: 0;
    border-radius: 0 0 .5rem .5rem;

    height: 5rem;

    position: sticky;
    margin-top: -.5rem;
    top: 0;
    z-index: 2;
}
/* end character header */

/* character name */
.spellbook_name {
    color: var(--text);
    font-size: 2.25rem;
    font-weight: 800;
    margin: auto 0;
    width: 12rem;
}
/* end character name */

/* character selector */
.spellbook_selector {
    font-family: unset;
    margin-right: -.1rem;
    margin-left: 1rem;
    padding-left: 1.25rem;

    background-color: transparent;
    border: none;
    max-width: calc(100% - 12.5rem);

    -moz-appearance: none;
    -webkit-appearance: none;
}
/* end character selector */

/* selector arrow */
.selector_arrow {
    margin: auto -2rem auto 1rem;
    width: 1rem;
    fill: var(--text);
}
/* end selector arrow */

/* class and level text */
.class_level {
    color: var(--text);
    font-size: var(--tlrg);
    height: fit-content;
    margin-top: 1.9rem;
    margin-left: .3rem;
    width: fit-content;
}
/* end class and level text */

/* class selector */
.class_selector {
    font-family: unset;
    padding-left: 1.25rem;
    margin-right: -.35rem;
    margin-left: 1rem;

    background-color: transparent;
    border: none;

    -moz-appearance: none;
    -webkit-appearance: none;
}
/* end class selector */

/* level input */
.level_input {
    display: flex;
    background: transparent;
    border: none;
    border-bottom: 3px solid var(--tog);
    height: 1.6rem;
    font-weight: normal;
    font-family: unset;
    text-align: center;
}
/* end level input */

/* removes arrows on numeric inputs */
/* https://stackoverflow.com/a/22559163/16393749 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance:textfield;
}
/* end arrows*/

/* slot table item */
.slot_info {
    font-size: var(--tmed);
    color: var(--text);
    width: fit-content;
    min-width: unset;
    height: fit-content;
}
/* end slot table item */

/* slot table */
.slot_table {
    margin: auto;
    margin-top: 0.25rem;

    border: 3px solid var(--ol);
    border-left-width: 0;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 1rem;
}

/* table border rounding */
.slot_table td {
    border: 3px solid var(--ol);
    border-right: 0;
    border-bottom: 0;
}
.slot_table tbody:first-child tr:first-child td {
    border-top-width: 0;
}
.slot_table tbody:first-child tr:first-child td:first-child {
    border-top-left-radius: 1rem;
}
.slot_table tbody:first-child tr:first-child td:last-child {
    border-top-right-radius: 1rem;
}
.slot_table tbody:last-child tr:last-child td:first-child {
    border-bottom-left-radius: 1rem;
}
.slot_table tbody:last-child tr:last-child td:last-child {
    border-bottom-right-radius: 1rem;
}
/* end table border rounding */
/* end slot table */

/* level header */
div.level_header {
    background-color: var(--elm);
    height: calc(var(--sph) + 1.5rem);
    border: 3px solid var(--ol);
    border-radius: .6rem;
    display: flex;
    justify-content: center;
}

p.level_header {
    font-size: var(--tlrg);
    color: var(--text);
    margin-top: auto;
    margin-bottom: auto;
}

/* spell slot */
.spell_slot {
    height: 1.5rem;
    width: 1.5rem;
    border: 3px solid var(--ol);
    border-radius: 1rem;
    margin: auto .3rem;
}

.toggled {
    background-color: var(--tog);
}
/* end spell slot */
/* end level header */

/* spellbook spell head */
.book_name {
    width: 25%;
    padding-left: 1%;
}

.concentration {
    width: 22%;
    padding-left: 1%;
    text-align: center;
}

.ritual {
    width: 15%;
    text-align: center;
}

.cast_time {
    width: 17%;
    text-align: center;
}
/* end spellbook spell head */

/* book spell */
.book_spell_container {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    align-items: center;
}

.book_spell {
    width: 100%;
    margin: 0;
}
/* end book spell */

/* spell prep circle */
.prepare {
    width: 1rem;
    height: 1rem;
    border: 3px solid var(--text);
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.prepared {
    background-color: #B8B8B8;
}

svg.prepare {
    border: 0px;
    width: calc(1.5rem + 6.33px);
    height: 100%;
    margin-right: 0.25rem;
    margin-left: -0.25rem;
}

.prepare_star {
    stroke: var(--text);
    fill: #B8B8B8;
}
/* end spell prep circle */