.bottom_margin {
    margin-top: -58px;
}

body {
    width: auto;
    min-width: 1216px;
    background-color: rgb(33,33,33);
    margin: 8px;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    z-index: -1;
}

.columnContainer {
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto;
}

.title {
    margin: 6%;
    color: rgb(222, 222, 222);
}

.darkOption {
    border-radius: 20px;
    margin-left: auto;
    margin-right: 3%;
    width: fit-content;
    height: 40px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.darkTxt {
    white-space: nowrap;
    margin-left: auto;
    margin-right: 3%;
    margin-top: 5px;
    color: rgba(0, 192, 0, 0.719)
}

.menuOption {
    color: rgb(89, 129, 204);
    margin-left: 2%;
    font-size: 22px;
    text-decoration: none;
}

.spellContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 99.7%;
    background-color: rgb(50,50,50);
    border: rgb(80,80,80) solid 3px;
    border-radius: 10px;
    z-index: 1;
}

.h20 {
    height: 20px;
}
.h15 {
    height: 15px;
}

.spellBox {
    display: flex;
    width: 95%;
    height: 72px;
    background-color: rgb(50, 50, 50);
    border: rgb(80,80,80) solid 3px;
    border-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    line-height: 20px;
    flex-direction: row;
}

.spellName {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 150%;
    z-index: 3;
    width: auto;
    line-height: 25px;
    color: rgb(222, 222, 222);
}

.spellDispDesc {
    font-size: 150%;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    line-height: 25px;
    color: rgb(200,200,200)
}

.spellDispDescExp {
    font-size: 150%;
    margin-top: 18.5px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
    line-height: 30px;
    color: rgb(200,200,200)
}

.closeBtn {
    display: flex;
    width: 5%;
    height: 52px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.bottomCloseBtn {
    background-color: rgb(50,50,50);
    border: rgb(80,80,80) solid 3px;
    border-left: 0px;
    border-radius: 0px 10px 10px 0px;
}

.arrow {
    width: 28px;
    height: 20px;
    margin-left: 8px;
    transition: transform .15s;
}

.filter_arrow {
    width: 28px;
    height: 20px;
    margin-bottom: -2px;
    transition: transform .15s;
}

.rot-right {
    transform: rotate(90deg);
}

.rot-left {
    transform: rotate(-90deg);
}

.expandArrow {
    width: 5%;
    margin: auto;
    margin-left: 15%;
    font-size: 150%;
    font-stretch: expanded;
    color: rgb(222, 222, 222);
}

.expLeft {
    display: flex;
    width: 5%;
    background-color: rgb(50, 50, 50);
    border: rgb(80,80,80) solid 3px;
    border-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.expTop {
    display: flex;
    width: 90%;
    background-color: rgb(50, 50, 50);
    border: rgb(80,80,80) solid 3px;
    border-width: 3px 0px 3px 0px;
    line-height: 20px;
    flex-direction: row;
    cursor: pointer;
}

.body {
    width: 89.5%;
    background-color: rgb(50, 50, 50);
    border: rgb(80,80,80) solid 3px;
    border-top: 0px;
    border-bottom: 0px;
    margin-top: -3px;
    margin-left: 5%;
    line-height: 20px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: height .3s ease-in-out;
    height: auto;
}

.expBot {
    display: flex;
    width: 90%;
    background-color: rgb(50, 50, 50);
    border-bottom: rgb(80,80,80) solid 3px;
    line-height: 20px;
    margin-top: 3px;
    flex-direction: row;
    cursor: pointer;
}

.bottom {
    z-index: -1;
    position: relative;
    transition: margin-top .3s, z-index .3s;
}

.bottom_exp {
    z-index: 2;
    margin-top: -28px
}

.sortContainer {
    background-color: rgb(50,50,50);
    border: rgb(80,80,80) solid 3px;
    border-radius: 10px;
    width: 99%:
    height: 52px;
}

.levelHeadTxt {
    margin-left: 20px;
    font-size: 150%;
    z-index: 1;
    width: auto;
    white-space: nowrap;
    color: rgb(222, 222, 222);
}

.name {
    display: flex;
    width: 20%;
    height: 52px;
    line-height: 20px;
    flex-direction: row;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.widen {
    width: 95%;
}

.level {
    display: flex;
    width: 12.5%;
    height: 52px;
    line-height: 20px;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.classes {
    display: flex;
    width: 47.5%;
    height: 52px;
    line-height: 20px;
    flex-direction: row;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.quick_add {
    display: flex;
    width: 15%;
    height: 52px;
    line-height: 20px;
    flex-direction: row;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.searchBar {
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 27.3%;
    size: inherit;
    height: 36px;
    background-color: rgb(50, 50, 50);
    border: rgb(80,80,80) solid 3px;
    border-radius: 10px;
    color: rgb(200,200,200);
    font-size: 20px;
    text-indent: 5px;
    outline: none;
}

.srchTxt {
    margin-left: 20px;
    margin-top: 40px;
    font-size: 135%;
    width: auto;
    white-space: nowrap;
    color: rgb(178, 178, 178);
}

.smallBtn {
    display: flex;
    width: 27.5%;
    height: 36px;
    margin: 20px;
    margin-top: -10px;
    margin-bottom: 0px;
    background-color: rgb(50, 50, 50);
    border: rgb(80,80,80) solid 3px;
    border-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.shrink {
    border: rgb(80,80,80) solid 3px;
    border-radius: 10px;
}

.cibl {
    margin-left: 32px;
    width: 4%;
    background-color: rgb(50, 50, 50);
    border-left: rgb(80,80,80) 3px solid;
}

.classItem {
    width: auto;
    margin-right: 5px;
    background-color: rgb(50, 50, 50);
    height: 44px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.ciTxt {
    color: rgb(222, 222, 222);
    font-size: 120%;
    margin: 12px 0px 12px 0px;
}

.add_subs_text {
    color: rgb(222, 222, 222);
    font-size: 120%;
    margin: 12px 0px 12px 0px;
    text-decoration: underline;
}

.ciComma {
    color: rgb(222, 222, 222);
    font-size: 120%;
    margin: 12px 4.5px 0px -4.5px;
}

.searchRowCon {
    width: fit-content;
    display: flex;
    background-color: rgb(50, 50, 50);
    flex-direction: row;
    flex-wrap: wrap;
    overflow: initial;
    z-index: 2;
}

.searchOpTxt {
    font-size: 150%;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 0px;
    z-index: 1;
    width: auto;
    white-space: nowrap;
    color: rgb(222, 222, 222);
}

.smallTxt {
    margin-top: 5px;
    margin-left: 0;
    font-size: 150%;
    z-index: 1;
    width: auto;
    white-space: nowrap;
    color: rgb(222, 222, 222);
}

.blank {
    display: none;
}

.clickObj {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.ef_body {
    overflow: hidden;
    transition: height .3s;
}

.ef_op {
    overflow: hidden;
    transition: height .15s;
}

.searchColumnL {
    margin-left: 20px;
    width: 27.5%;
    background-color: rgb(50, 50, 50);
    border: rgb(80,80,80) 3px solid;
    border-top: 0px;
    border-bottom-left-radius: 10px;
}

.searchColumnTR {
    width: 27.5%;
    background-color: rgb(50, 50, 50);
    border: rgb(80,80,80) 3px solid;
    border-left:0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -3px;
    overflow: hidden;
}

.bbrr {
    border-bottom-right-radius: 10px;
}

.clrESO {
    display: flex;
    width: 17.5%;
    height: 36px;
    margin: 20px;
    background-color: rgb(50, 50, 50);
    border: rgb(80,80,80) solid 3px;
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.pagem1{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 42.15%;
    width: 7.5%;
    height: 56px;
    background-color: rgb(50, 50, 50);
    border: rgb(80,80,80) solid 3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: rgb(80,80,80) solid 1.5px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.pagep1{
    margin-top: 20px;
    width: 7.5%;
    height: 56px;
    background-color: rgb(50, 50, 50);
    border: rgb(80,80,80) solid 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: rgb(80,80,80) solid 1.5px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.pageTxt {
    width: auto;
    margin-top: 16px;
    font-size: 150%;
    white-space: nowrap;
    color: rgb(222, 222, 222);
}
.middle {
    margin-bottom: 20px;
    text-align: center;
}

.stt {
    display: flex;
    z-index: 3;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}
.stt:hover {
    opacity: 1;
}
.sttarrow {
    width: 28px;
    height: 20px;
    transform: rotate(270deg);
    margin: auto;
}

.settings {
    position: absolute;
    right: 20px;
    top: 14px;
}
.settings:hover {
    opacity: 1;
}
.gear {
    margin: 8px;
}
.menuBack {
    min-width: 1216px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}
.menuPage {
    background-color: rgb(50, 50, 50);
    min-width: 800px;
    min-height: 450px;
    width: 70%;
    height: 70%;
    position: absolute;
    left: 15%;
    top: 15%;
    border: rgb(80,80,80) solid 3px;
    border-radius: 20px;
}
.sTitle {
    font-size: 40px;
    color: white;
    margin-left: 30px;
    margin-top: 20px;
}
.sText {
    font-size: 25px;
    color: rgb(230,230,230);
    margin-left: 30px;
    margin-bottom: 30px;
}
.sliderContainer {
    width: 100%;
}
.sSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 18px;
    background-color: white;
    outline: none;
}
.sSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 40px;
    background-color: rgb(80,80,80);
    cursor: pointer;
}

.sSlider::-moz-range-thumb {
    width: 20px;
    height: 40px;
    background-color: rgb(80,80,80);
    cursor: pointer;
}
.saveSettings {
    text-align: center;
    width: 10%;
    height: 32px;
    background-color: rgb(50,50,50);
    border: rgb(80,80,80) solid 3px;
    border-radius: 10px;
    position: absolute;
    right: 25px;
    bottom: 15px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    webkit-user-select: none;
}
.saveTxt {
    font-size: 25px;
    width: auto;
    color: rgb(230,230,230);
    margin: 0px;
    margin-top: 2px;
}
.previewSpell {
    display: flex;
    width: 70%;
    height: 52px;
    background-color: rgb(50, 50, 50);
    border: rgb(80,80,80) solid 3px;
    border-radius: 10px;
    line-height: 20px;
    position: absolute;
    left: 25px;
    bottom: 15px;
}

.discord {
    display: flex;
    position: absolute;
    right: 14px;
    top: 14px;
}
.discord_logo {
    margin: auto;
    width: 40px;
}

.send_mobile {
    display: flex;
    position: absolute;
    right: 90px;
    top: 14px;
}
.mobile_logo {
    margin: auto;
    width: 48px;
}

.sb_part {
    position: absolute;
}

.book_container {
    margin: 1%;
    height: 95%;
    width: 80%;
    overflow: auto;
    padding-right: 7px;
}

.player_container {
    width: 20%;
    border-right: rgb(80, 80, 80) 3px solid;
    overflow: auto;
}
.player_options {
    height: 97.5%;
    width: 97.5%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.char_text {
    color: rgb(222, 222, 222);
    font-size: 150%;
    margin: 0px auto 6px auto;
    display: flex;
}
.class_list {
    background-color: #323232;
    color: rgb(222, 222, 222);
    width: 75%;
    font-size: 100%;
    border: rgb(80, 80, 80) 2.5px solid;
    border-radius: 8px;
    margin: 20px auto 10px auto;
    padding: 1.5px;
}
.clr_slots_txt {
    color: rgb(222, 222, 222);
    font-size: 100%;
    text-decoration: underline;
    margin: 16px auto 0px auto;
}

.level_input {
    height: 52px;
    width: 52px;
    color: rgb(222, 222, 222);
    background-color: #323232;
    border: rgb(80, 80, 80) 2.5px solid;
    border-radius: 5px;
    margin: 5px auto 10px auto;
    font-size: 36px;
    text-align: center;
}

.slot_left {
    border: rgb(80, 80, 80) 2.5px solid;
    border-right-width: 1.25px;
    border-radius: 7px 0px 0px 7px;
    background-color: #323232;
    text-align: center;
    height: 26px;
    width: 51px;
    margin-left: auto;
    margin-top: 5px;
}
.slot_right {
    border: rgb(80, 80, 80) 2.5px solid;
    border-left-width: 1.25px;
    border-radius: 0px 7px 7px 0px;
    background-color: #323232;
    text-align: center;
    height: 26px;
    width: 51px;
    margin-right: auto;
    margin-top: 5px;
}
.slot_text {
    color: rgb(222, 222, 222);
    margin: 2px;
    font-size: 125%;
}

.slotContainerContainer {
    display: flex;
    align-items: center;
    width: fit-content;
}
.slotContainer {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}
.spell_slot {
    width: 24px;
    height: 24px;
    border-radius: 15px;
    border: 3px solid rgb(80,80,80);
    margin: 0px 10px;
}
.used {
    background-color: rgb(50,0,0);
}

.book_head {
    border: rgb(80, 80, 80) 3px solid;
    background-color: rgb(50, 50, 50);
    height: fit-content;
    width: 99%;
    margin: 10px auto 20px auto;
    border-radius: 10px;
    flex-direction: row;
}

.book_head_text {
    position: relative;
    color: rgb(222, 222, 222);
    font-size: 150%;
    margin: 10px;
    width: 50%;
}

.book_spell {
    width: 95%;
}
.prep_spell {
    width: 12px;
    height: 12px;
    margin: auto;
    border: rgb(222,222,222) solid 3px;
    border-radius: 9px;
}
.sub_spell {
    width: 24px;
    margin: auto;
}
.sub_star {
    stroke: rgb(222, 222, 222);
    fill: none;
}
.star_prepped {
    fill: rgb(200, 200, 200);
}
.prepped {
    background-color: rgb(200,200,200);
}

.book_body {
    width: 85%;
    background-color: rgb(50, 50, 50);
    border: rgb(80,80,80) solid 3px;
    border-top: 0px;
    border-bottom: 0px;
    margin: -3px 0px 0px 7.1%;
    line-height: 20px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: height .3s ease-in-out;
    height: auto;
}

.book_spellDispDescExp {
    font-size: 125%;
    margin-top: -5px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
    line-height: 22.5px;
    color: rgb(200,200,200)
}

.book_spell_container {
    border: rgb(80, 80, 80) 3px solid;
    background-color: rgb(50, 50, 50);
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.book_spell_text {
    color: rgb(222,222,222);
    font-size: 125%;
    margin: 7.5px;
}
.book_name {
    width: 32.5%;
}
.book_widen {
    width: 100%;
}
.book_action {
    width: 20%;
}
.book_conc {
    width: 23.75%;
}
.book_close {
    width: 7%;
    display: flex;
    text-align: center;
    align-items: center;
}
.book_spell_container_bottom {
    height: fit-content;
    display: flex;
    flex-direction: row;
}
.book_bottom {
    z-index: -1;
    position: relative;
    transition: margin-top .3s, z-index .3s;
}
.book_bottom_margin {
    margin-top: -44px;
}
.book_bottom_exp {
    z-index: 2;
    margin-top: -35px;
}
.book_bottom_name {
    border: rgb(80, 80, 80) solid;
    border-width: 3px 0px 3px 3px;
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(50, 50, 50);
    width: 7.1%;
    z-index: 0;
}
.book_bottom_mid {
    width: 85%;
    background-color: rgb(50, 50, 50);
    border-bottom: rgb(80, 80, 80) 3px solid;
}
.book_close_bottom {
    border: rgb(80, 80, 80) solid;
    border-width: 3px 3px 3px 0px;
    border-radius: 0px 10px 10px 00px;
    background-color: rgb(50, 50, 50);
}

.spellToBook {
    display: flex;
    position: relative;
    width: 2.5%;
    background-color: rgb(50,50,50);
    border: rgb(80,80,80) 3px solid;
    border-radius: 7px;
    left: 0;
    transition: left .3s;
    overflow: hidden;
    margin: 10px auto 40px auto;
}
.spellToBook_book {
    display: flex;
    position: relative;
    width: 4.5%;
    background-color: rgb(50,50,50);
    border: rgb(80,80,80) 3px solid;
    border-radius: 7px;
    left: 0;
    transition: left .3s;
    overflow: hidden;
    margin: 10px auto 40px auto;
}
.add_book_hidden_book {
    left: -7%;
}

.add_book_hidden {
    left: -5%;
}
.textToBook {
    color: rgb(222,222,222);
    width: auto;
    font-size: 1.5vw;
    white-space: nowrap;
    margin: auto;
    writing-mode: vertical-lr;
}

.book_side_container {
    position: absolute;
    top: 2.5%;
    left: 99.6%;
    width: fit-content;
    height: 95%;
    min-height: 427.5px;
}
.book_side_btn {
    background-color: rgb(50,50,50);
    border: rgb(80,80,80) 3px solid;
    width: 30px;
    height: 24.2%;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    left: 3px;
    display: flex;
}
.book_char_exp {
    border-left: 0px;
    width: 40px;
}
.book_side_text {
    color: rgb(222,222,222);
    height: fit-content;
    max-height: 90%;
    font-size: 125%;
    margin: auto;
    writing-mode: vertical-lr;
}

.level_container {
    height: fit-content;
    overflow: hidden;
    transition: height .3s;
}

.level_arrow {
    position: absolute;
    right: 0px;
    margin: 1px 7.5px;
    width: 35px;
    height: 25px;
}

.character_input {
    width: 60%;
    max-width: 147px;
    border: rgb(80,80,80) 3px solid;
    border-radius: 10px;
    margin: 10px 20px;
    padding: 3px 7px;
    background-color: rgb(50,50,50);
    font-size: 125%;
    color: rgb(222,222,222);
}

.spell_table {
    border-collapse: collapse;
    border-radius: 12px;
    margin: 0px 100px;
}

th, td {
    padding: 4px 8px;
    color: rgb(222,222,222);
    font-size: 125%;
    min-width: 36.75px;
}
tr:nth-child(odd) {
    background-color: rgb(60,60,60);
}

.char_select {
    outline: white 2px solid
}

.select_button {
    display: flex;
    background-color: rgb(60,60,60);
    border: rgb(80,80,80) 3px solid;
    border-radius: 10px;
    height: 28.5px;
    width: 84px;
    margin: 10px 0px;
}

.select_text {
    color: rgb(222,222,222);
    font-size: 125%;
    margin: auto;
}

.delete_button {
    width: 250px;
    position: absolute;
    right: 17px;
    bottom: 7px;
}

.delete_prompt {
    display: flex;
    position: fixed;
    top: 40%;
    left: 25%;
    background-color: rgb(50,50,50);
    border: rgb(80,80,80) 3px solid;
    border-radius: 10px;
    width: 50%;
    height: 20%;
}

.delete_text {
    color: rgb(222,222,222);
    font-size: 150%;
    padding: 8px 18px;
    margin: unset;
}

.confirm_button {
    position: absolute;
    width: 84px;
}

.settings_popup {
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    opacity: 1;
    width: 19%;
    height: 6%;
    background-color: rgb(60, 60, 60);
    border: rgb(90, 90, 90) solid 3px;
    border-radius: 10px;
}
.popup_text {
    color: rgb(232, 232, 232);
    font-size: 125%;
    margin: auto;
    text-align: center;
}
.popup_mark {
    color: rgb(232, 232, 232);
    font-weight: 900;
    font-size: 250%;
    margin: auto 0px;
}
.zero_opacity {
    opacity: 0;
    visibility: hidden;
    transition: opacity 3s ease-in, visibility 0s linear 3s;
}

.sort_arrow {
    width: 22px;
    margin: -6px;
    margin-left: 3px;
}

.loading_svg {
    width: 7.5%;
    position: relative;
    left: 46.25%;
    margin-top: 20px;
    animation: loading 1s step-start infinite;
}
@keyframes loading {
    8.33% {transform: rotate(30deg)}
    16.66% {transform: rotate(60deg)}
    25% {transform: rotate(90deg)}
    33.33% {transform: rotate(120deg)}
    41.66% {transform: rotate(150deg)}
    50% {transform: rotate(180deg)}
    58.33% {transform: rotate(210deg)}
    66.66% {transform: rotate(240deg)}
    75% {transform: rotate(270deg)}
    83.33% {transform: rotate(300deg)}
    91.66% {transform: rotate(330deg)}
    100% {transform: rotate(360deg)}
}

.book_char_spec_tab {
    position: absolute;
    left: -4.5%;
    top: 3%;
    transition: left .3s;
    background-color: rgb(50,50,50);
    border: rgb(80,80,80) 3px solid;
    border-radius: 15px 0px 0px 15px;
    width: 17%;
    height: 92%;
    z-index: -1;
}
.book_char_spec_tab_out {
    left: -17.5%;
}
.book_char_spec_text {
    color: rgb(222,222,222);
    font-size: 125%;
    margin: auto;
    padding: 0px 5px;
}
.book_char_spec_container0 {
    display: flex;
    border-right: rgb(80,80,80) 3px solid;
    margin: 0px;
    height: 100%;
    width: max(0px, 23%);
}


/*-------------------------------------------------------------------------------------------------------------------*/


tb {
    font-weight: bold;
    position: relative;
    top: 20px;
}

bi {
    font-weight: bold;
    font-style: italic;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.menu_button {
    width: 56px;
    height: 56px;
    background-color: rgba(50, 50, 50);
    border: rgba(80,80,80) solid 3px;
    opacity: .5;
    transition: opacity .15s;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.menu_button:hover {
    opacity: 1;
}

.sortSelected {
    border-left: rgb(50, 0, 0) 5px solid;
    border-right: rgb(50, 0, 0) 5px solid;
    background-color: rgb(80, 50, 50);
    border-radius: 20px;
}

.sortSelectedTxt {
    font-weight: 700;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hCentered {
    margin-left: auto;
    margin-right: auto;
}
.vCentered {
    margin-top: auto;
    margin-bottom: auto;
}
.tCentered {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.aCentered {
    margin: 0px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.v_text_r {
    writing-mode: vertical-lr;
}
.v_text_l {
    writing-mode: vertical-lr;
    transform: rotate(180deg)
}

::-webkit-scrollbar {
    width: 10px;
    transition: width .3s;
}
::-webkit-scrollbar-track {
    background-color: #323232;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(70,70,70);
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(80,80,80);
}

.clickable {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    webkit-user-select: none;
}
.unclickable {
    cursor: unset;
    user-select: unset;
    -moz-user-select: unset;
    -webkit-user-select: unset;
}

.non_clickable {
    cursor: default;
}

.invis {
    display: none;
}