<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="spellbook, uaq, uaq's, xanathar's guide to everything, XGTE, Player's Handbook, PHB,
     DND, D&D, DD, Dungeons and Dragons, spells, spell list, inevitableleftturns, inevitable left turns, inevitable left turns spellbook">
    <meta name="description" content="A spellbook by uaq. Includes spells from Players Handbook, Xanathar's Guide to Everything, and more.">
    <title>uaq's Spellbook</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/png" href="/static/images/icon.png">

    <script src="/static/js/main.js"></script>
</head>

<body>

</body>
</html>